In [62]:
# world cities

import pandas as pd
import numpy as np
import os 
print(os.path.abspath(os.path.curdir))

d:\_dev_stmatch\stmatch\src\playground

In [63]:
cities = pd.read_csv("..\\..\\data\\worldcities.csv")
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,35362000.0,1360771077
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604
3,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23971000.0,1608618140
4,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22495000.0,1076532519

In [64]:
target = pd.DataFrame({
    "targetID" : cities.id,
    "name" : cities.city_ascii,
    "country" : cities.country,
    "clon" : cities.lng,
    "clat" : cities.lat, 
    })

In [65]:
countries = target.country.astype("category").cat.categories
countries

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua And Barbuda', 'Argentina', 'Armenia',
       ...
       'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'Wallis And Futuna', 'West Bank', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=239)

In [60]:
def county_range(group):
    print(type(group))
    return group.clat.min(), group.clat.max(), group.clon.min(), group.clon.max()

In [69]:
cs = target.groupby("country").aggregate(
    lat_min=("clat", np.min),
    lat_max=("clat", np.max),
    lon_min=("clon", np.min),
    lon_max=("clon", np.max)
)

In [71]:
cs

                   lat_min  lat_max   lon_min   lon_max
country
Afghanistan        30.9600  37.1298   61.8600   71.1528
Albania            39.8833  42.3582   19.4558   20.9900
Algeria            19.5686  36.9167   -8.1286    9.5500
American Samoa    -14.2740 -14.2740 -170.7046 -170.7046
Andorra            42.4700  42.5664    1.4900    1.6009
...                    ...      ...       ...       ...
Wallis And Futuna -14.2933 -13.2825 -178.1583 -176.1736
West Bank          31.7764  31.7764   35.2269   35.2269
Yemen              12.6519  16.9400   42.9511   54.0239
Zambia            -17.8500  -8.8400   22.6800   33.1700
Zimbabwe          -22.2167 -16.5333   25.8333   32.6694

[239 rows x 4 columns]

In [82]:
cs.loc["United States"]

lat_min     19.0959
lat_max     64.9295
lon_min   -161.7917
lon_max    -67.8429
Name: United States, dtype: float64

In [84]:
cs.loc["Russia"]

lat_min     41.4647
lat_max     74.8983
lon_min   -179.5900
lon_max    179.3067
Name: Russia, dtype: float64

In [ ]:
japan = target.query("country=='Japan'")
print([japan.clon.min(), japan.clon.max()])
print([japan.clat.min(), japan.clat.max()])

In [ ]:
taiwan = target.query("country=='Taiwan'")

In [ ]:
target.groupby("country").get_group("Japan").head()

In [ ]:
target[0:1].T

In [ ]:
"clon" in taiwan.keys()

In [ ]:
cat = target.country.astype("category").cat

In [ ]:
cat

In [ ]:
cat.categories.str.startswith("TaiWan")

In [ ]:
target.groupby("country").count()

In [ ]:
target["country"]